html, body
{
	margin: 0;
	padding: 0;
}

header
{
	background-color: #1D2F47;
	padding: 2vh;
	color: aliceblue;
}

h1
{
	margin:0;
	text-align: center;
}

table
{
	border: black 1px solid;
	border-collapse: collapse;
	margin: 0 auto;
	margin-top: 10vh;
	width: 80%;
}

th 
{
	background-color: #1D2F47;
	color: aliceblue;
}

th, td
{
	border: black 1px solid;
	padding: 5px;
	height: 4vh;
}

tr:nth-child(even)
{
	background-color: #f7c5bc;
}

.num
{
	width: 5%;
	text-align: center;
}

.mod
{
	width: 55%;
}

.heure
{
	text-align: center;
}
